body {
    background-color: hsl(0, 0%, 0%);
    font-family: 'Courier New', Courier, monospace;
    color: aliceblue;
}

#title {
    display: flex;
    justify-content: center;
}

#container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#score-board {
    display: flex;
    margin: 20px 0px;
}

#score-seperator {
    margin: 0px 10px;
}

#message {
    margin: 10px;
}

#record{
    display: flex;
    text-align: center;
    gap: 20px;
}

#buttons {
    display: flex;
    justify-content: center;
}

.imgBtn {
    object-fit: scale-down;
    max-width: 250px;
    max-height: auto;
    
}

#paperBtn {
    max-height: 250px;
    max-width: fit-content;
}